DATABASE_URL="postgresql://USER:PASSWORD@HOST/neondb?sslmode=require"
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
SESSION_SECRET="replace-with-a-32-byte-random-secret"
APP_URL="http://localhost:3000"
CRON_SECRET=""
